*,
*:before,
*:after {
    box-sizing: border-box;
}

.body {
	padding: 0;
	margin: 0;
    *background-color: #999999;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 100%;
}

.musicPlayer {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 300px;
    height: 50px;
    padding: 8px 29px 9px 29px;
    margin: 0;
    background-color: #999999;
}

.musicPlayer__play {
    position: relative;
    width: 54px;
    background-color: #565350;
}

.musicPlayer__play::before {
    content: "";
    position: absolute;
    left: 21px;
    top: 9px;
    border: 8px solid transparent; 
    border-left: 15px solid #fff;
}

.musicPlayer__play:hover {
    cursor: pointer;
    background-color: red;
}

.musicPlayer__play:active {
    background-color: green;
}

.musicPlayer__wrapper {
    position: relative;
    display: flex;
    width: 180px;
    height: 27px;
    padding: 8px 11px 8px 7px;
    margin-top: 3px;
    margin-left: 8px;
    background-color: #565350;
}

.musicPlayer__slider {
    position: relative;
    width: 120px;
    height: 11px;
    border-top: 2px solid #464442;
    border-bottom: 2px solid #464442;
    border-left: 1px solid #393938;
    border-right: 1px solid #393938;
    background-color: #565350;
    cursor: pointer;
}

.musicPlayer__slider:hover {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.musicPlayer__loadingRange {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 7px;
    background-color: #333333;
    z-index: 50;
}

.musicPlayer__playedRange {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 7px;
    background-color: #816fca;
    z-index: 100;
}

.musicPlayer__sound {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 13px;
}

.musicPlayer__sound:hover {
    cursor: pointer;
}

.musicPlayer__sound__line {
    display: block;
    width: 3px;
    height: 11px;
    margin-left: 1px;
    background-color: #816fca;
}

.musicPlayer__sound__line:last-child {
    margin-left: 0;
}

.musicPlayer__sound__line:hover,
.musicPlayer__sound__line:hover ~ .musicPlayer__sound__line {
    background-color: red;
}
